body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, div {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
}

a { color:#666; text-decoration:none; }
a:visited { color:; text-decoration:none;}
a:hover{ color:; text-decoration:none; }
a:active{ color:; text-decoration:none; }
*{
	font-family:"Microsoft YaHei";
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
ul{
	list-style-type:none;
}
.pager{
	//padding:10px 8px 0px;
	width:45%;
	height:33.8vh;
	float:left;	
	margin-left:20px;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:24px;
}
.business_pic{
	//float:left;
	//overflow:hidden;
}
.business_pic img{
      
   width: 100%;
   height:33.8vh;
   //height: auto;
 

}
.business_video{
	width:100%;
	margin-top:8px;
	float:left;
}
.business_video ul{
	width:100%;
	float:left;
}
.business_video li{
	border:0px;
	width:48%;
	float:left;
	margin-right:2%;
	position:relative;
	height:85px;
	overflow:hidden;
	
}
.business_video li:nth-child(2n){
	margin-right:0%;
}
.business_video li img{
	width:100%;
}
.video_titel{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	background: rgba(52, 52, 52, 0.6);
	color:#FFFFFF;
	height:20px;
	line-height:20px;
	font-size:12px;
	text-indent:8px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.wrapper{
	margin-left:20px;
	padding-left:20px;
    margin-right:300px;	
	width:966px;
	float:left;
	padding-bottom:27px;
	border-bottom-width:1px;
	border-bottom-color:#d5d5d5;
	border-bottom-style:solid;
}
.nav{
	height:33px;


	


}
.nav ul{
	width:100%;
	color:#445560;
}
.nav ul li{
	width:90px;
	float:left;
	margin-right:50px;
	text-align: center;
	font-size:15px;
	height:33px;
	line-height:33px;
}
.select{
	background-color:#FDAB01;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 3px;
}
.msg{
	float:left;
	margin-top:38px;
	display:block;
	width:48%;
	height:30%;
}
.msg ul{
	display:block;
	padding-bottom:50px;
	float:left;
	width:100%;
}
.msg li{
	height:50px;
	
	line-height:50px;
	font-size:15px;
	//text-indent:15px;
	color:#445560;;
	border-bottom: #d5d5d5 1px solid;
	position:relative;
}
.msg li:last-child{	
	border-bottom: #CCCCCC 0px solid;
}
.msg .pj{
	width:120px;
	height:22px;
	line-height:22px;
	float:left;
	margin:12px 10px 0px 0px;
	background-image:url(../image/0star.png);
	text-indent:0px;
}
.msg .pj .pi_star{
	height:100%;
	overflow:hidden;
}
.msg .tel{
	float:right;
	margin:0px 11px 0px 0px;
	background:url(image/tel.png);
	width:435px;
	height:49px;
	font-size:15px;
}
.msg .tel a{
	width:100%;
	height:100%;
	display:block;
}
.msg .addressmsg{
	float:right;
	margin:0px 60px 0px 0px;
	background:url(image/tel.png);
	width:386px;
	height:49px;
	font-size:15px;
}
.msg .dizhi{
	float:right;
	margin:8px 10px 0px 0px;
	background:url(image/map.png);
	width:52px;
	height:28px;
}
.msg .dizhi a{
	width:100%;
	height:100%;
	display:block;
}
.product{
	display:none;
	font-size:12px;
}
.product ul{
	margin-top:10px;
	float: left;
    padding-bottom: 50px;
	width:100%;
}
.product li{
	border-bottom:#CACACA solid 1px;
	float:left;
	padding:10px;
	width:100%;
}
.product li:last-child{	
	border-bottom: #CCCCCC 0px solid;
}
.product .product_pic{
	width:30%;
	float:left;
	margin-right:6px;
}
.product .product_pic img{
	width:100%;
}
.product .product_name{
	line-height:20px;
	font-size: 14px;
	font-weight:bold;
	color:#445560;
}
.product .product_msg{
	line-height:20px;
	font-size: 14px;
	margin-top:8px;
	color:#888;
}
.estimate{
	display:none;
	padding:8px;
}
.estimate li{
	margin-top:16px;
	border-bottom:1px solid #ccc;
}
.user_pic{
	width:40px;
	height:40px;
	overflow:hidden;
	float:left;
	margin-right:16px;
}
.user_pic img{
	width:100%;
	border-radius:40px;
	height:100%;
	
}
.user_name{
	height:20px;
	line-height:20px;
	font-size:12px;
	color:#888;
}
.user_estimate{
	font-size:14px;
	color:#445560;
	padding:8px 0px;
	text-indent:20px;
	word-break:break-all;
}
.gostar{
	height:40px;
	bottom:0px;
	width:100%;
	background-color:#FFF;
	float:left;
	position:fixed;
	left:0px;
	border-top:1px solid #ccc;
}
.gostar a{
	display:block;
	height:32px;
	border:#ccc solid 1px;
	border-radius:5px;
	width:92%;
	margin:3px auto;
	text-align:center;
	font-size:14px;
	line-height:32px;
}